@charset "UTF-8";
*{
	margin:0;
	padding:0;
}
li{
	list-style-type:none;
	list-style-position:outside;
}
a{
	text-decoration:none;
}
div{
	box-sizing: border-box;
}
#wrapper{
    width:100%;
}
/*profile_imageエリア*/
#profile_image{
	width:60px;
	height:60px;
    border-radius:50%;
	position: fixed;
    top:110px;
    right:15px;
}
#com_detail_header{
    width:80%;
    margin:0 auto;
    margin-top:150px;   
    border-radius:5px;
    padding:10px;
}
/*左*/
#com_header_left{
    width:25%;
    height:250px;
    padding:10px;
    float:left;
    margin-right:20px;
}
#com_header_left p{
    margin-top:20px;
    box-shadow:5px 5px 5px 5px rgba(0,0,0,0.2);
}
#com_header_left img{
    width:100%;
}
#com_header_right{
    width:100%;
    height:200px;
    margin-top:32px;
    margin-bottom:20px;
}
/*コミュニティタイトルエリア*/
#com_header_title{
    height:70px;
    width:100%;
}
#com_header_title h2{
    font-size:2.3em;
}
/*参加メンバーエリア*/
#member_entry{
    display:flex;
    width:73%;
    height:70px;
    margin-bottom:18px;
}
#com_header_membercount{
    width:23%;
}
#com_header_membercount h3{
    font-size:1em;
    margin-top:7px;
}
.numrestcount{
    font-size:3em;
    margin-left:5px;
    margin-right:5px;
    color:skyblue;
    font-family: 'Noto Sans TC', sans-serif;
}
#numrest{
    width:30%;
}
#com_header_entry{
    width:50%;
}
#com_header_entry input{
    width:100px;
}
/*コメント*/
#com_detail_comment {
    width:100%;
    text-align:left;
    /* background-color:red; */
    padding:10px;
    border-bottom: dotted 3px gray;
}
/*メイン*/
#com_detail_main{
    width:80%;
    height:500px;
    padding:20px;
    margin:0 auto;
    display:flex;
    margin-bottom:170px;
}
#com_main_left{/*com_main_left*/
    width:30%;
    padding:10px;
    margin-left:64px;
}
#com_main_left img{/*開設者*/
    border-radius:50%;
    float:left;
    margin-right:10px;
}
#com_main_left dl dt{
    margin-bottom:10px;
}
#com_main_left dd{
    margin-left:15px;
    margin-bottom:20px;
}
#com_main_middle{
    width:26%;
    padding:10px;
}
#com_main_middle h3{
    font-size:1em;
    font-weight:bold;
    margin-bottom:10px;
}
#members{
    width:100%;
    display:flex;
    margin-bottom:10px;
}
#members img{
    border-radius:50%;
    margin-left:5px;
    margin-right:10px;
}
/*com_main_right*/
#com_main_right{
    width:32%;
    padding:10px;
}
#com_main_right h3{
    font-size:1em;
    font-weight:bold;
    margin-bottom:10px;
}
#comment_header{
    margin-bottom:60px;
}
#comment_header h3{
    margin-bottom:10px;
}
#comment_header textarea{
    margin-bottom:10px;
}
#comment_header button{
    float:right;
}
#commentcontents{
    height:265px;
    overflow-y:scroll;
}
#comment_result{
    padding:5px;
    width:97%;
    display:flex;
    border:solid 1px gray;
    box-shadow: 0.2rem 0.2rem 0.2rem #bdbdbd;
    position: relative;
    margin-bottom:15px;
}   
#comment_left{
    width:15%;
}
#comment_left img{
    border-radius:50%;
    margin-top:5px;
}
#comment_right {
    width:100%;
    margin-left:13px;
}
#comment_right h4{
    font-size:0.9em;
}
#comment_right p{
    font-size:0.9em;
}
/*コメント投稿時間*/
#comment_date{
    position:absolute;
    top:6px;
    right:5px;
    font-size:0.8em;
}
/*コミュニティ宛に投稿された画像*/
#othercontents{
    
}
#othercontents h4{
    font-size:1.5em;
    margin-left:50px;
    width:35%;
    text-align:center;
    margin:0 auto;
    margin-bottom:70px;
    background-color:orange;
    border-radius:5px;
    height:58px;
    line-height:53px;
}
#comentry_icon:before{
    font-family: "Font Awesome 5 Free";
    content: '\f2a3';
    font-weight: 900;
    margin-right: 5px;
    font-size:1.2em;
}
#entryComPhoto{
    width:99%;
	margin:0 auto;
	display:flex;
	flex-wrap:wrap;
    margin-left:15px;   
}
.photodisplay {
	margin-top:10px;
	margin-bottom:10px;
	overflow:hidden;
	position:relative; 
	width:calc( 100% / 4 - 15px);
	height:250px;
	margin-right:15px;
}
.photodisplay .caption {
	font-size:		130%;
	color:			#fff;
	padding-top:		80px;
	padding-left:		100px;
}
.photodisplay .mask {
	width:			100%;
	height:			100%;
	position:		absolute;
	top:			0;
	left:			0;
	background-color:	rgba(0,0,0,0.4);
	-webkit-transition:	all 0.4s ease;
	transition:		all 0.4s ease;
	-webkit-transform:	scale(0);	/* 大きさを０にして表示しない */
    transform:		scale(0);
}
.photodisplay:hover .mask {
	-webkit-transform:	scale(1);	/* 大きさを１にして表示する */
	transform:		scale(1);
}
/*mask_hederエリア*/
#mask_header{
	padding:0 20px;
	position:absolute;
	top:5%;
}
#mask_profile{
	position:absolute;
	bottom:20px;
	padding:0 20px;
}
/*mask_profileエリア*/
#mask_profile li{
	float:left;
	font-size:14px;
	margin-right:10px;
}
#mask_profile img{
	border-radius:50%;
}
/*mask_footerエリア*/
#mask_footer{
	position:absolute;
	bottom:5px;
	color:white;
	right:5%;
	height:40px;
}
#mask_footer ul{
	display:flex;
	justify-content: space-between;
}
#mask_footer li{
	float:left;
}
#mask_footer ul li:nth-of-type(1) {
	margin-right:10px;
}
#count_comment{
	margin-right:10px;
}
/*アイコンエリア*/

#com_location:before{/*撮影場所*/
    font-family: "Font Awesome 5 Free";
    content: '\f3c5';
    font-weight:900;
    margin-right:5px;
}
#com_date:before{/*撮影日時*/
    font-family: "Font Awesome 5 Free";
    content: '\f274';
    font-weight: 900;
    margin-right:5px;
}
#subject:before{/*被写体*/
    font-family: "Font Awesome 5 Free";
    content: '\f183';
    font-weight: 900;
    margin-right:5px;
}
#use_camera:before{/*主な使用カメラ*/
    font-family: "Font Awesome 5 Free";
    content: '\f083';
    font-weight: 900;
    margin-right:5px;
}
#creator:before{/*開設者*/
    font-family: "Font Awesome 5 Free";
    content: '\f504';
    font-weight: 900;
    margin-right:5px;
}
#opning_date:before{/*開設日*/
    font-family: "Font Awesome 5 Free";
    content: '\f144';
    font-weight: 900;
    margin-right:5px;
}
#participant:before{
    font-family: "Font Awesome 5 Free";
    content: '\f0c0';
    font-weight: 900;
    margin-right:5px;
}
#comment_icon:before{
    font-family: "Font Awesome 5 Free";
    content: '\f27a';
    margin-right: 5px;
}
