@charset "UTF-8";
*{
	margin:0;
	padding:0;
}
li{
	list-style-type:none;
	list-style-position:outside;
}
a{
	text-decoration:none;
}
div{
	box-sizing: border-box;
}
/*headerエリア*/
#header{
	width:100%;
	height:100px;
	background-color:black;
	display:flex;
	border-bottom:solid 5px #FACC2E;
	justify-content:space-between;
}
#header_title{
	padding: 10px;
	margin-top:5px;
  margin-left: 25px;
  font-family: 'Quicksand', sans-serif;
	color: #FACC2E;
	width:10%;
	height:70px;
}
#header_title h1{
	margin-top:3px;
}
#header h1 span{
	color:white;
}
#header_nav{
	width:23%;
	height:8vh;
	margin-top:15px;
	margin-right:60px;
}
#header_nav dl{
	/* border:solid 1px red; */
	display:flex;
	justify-content: space-around;
}
/*iconとtextのdiv*/
.Community,
.Notification,
.Upload,
.Menu{
	width:20%;
	height:10vh;
	text-align:center;
}
.Upload a{
	color:white;
  }
/*icon*/
.Community dt,
.Notification dt,
.Upload dt,
.Menu dt{
	font-size:1.6em;
	color:white;
	width:100%;
	margin-bottom:5px;
}
.Community dt :nth-child(1) {
	font-size:1em;
}
/*iconHover*/
.Community dt :hover,
.Notification dt :hover,
.Upload dt :hover,
.Menu dt :hover{
	color:orange;
}
.Community dt a{
	color:white;
}
/*iconText*/
.Community dd,
.Notification dd,
.Upload dd,
.Menu dd,
.Photo dd{
	font-size:0.7em;
	width:100%;
	color:white;
}
.Community dd:nth-of-type(1){
	width:110%;
}
